<p>
  <b>Title:</b>
  <%= @source.title %>
</p>

<p>
  <b>Dtype:</b>
  <%= @source.itype %>
</p>

<p>
  <b>Uri:</b>
  <%= @source.uri %>
</p>

<p>
  <b>Option:</b>
  <%= simple_format @source.option.to_yaml %>
</p>

<p>
  <b>Active:</b>
  <%= @source.active_flag %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>