<% if during_game? %>
<h3>
	<% if game_finished? %>
		<%= "Game Finished! #{link_to 'Click here', :action=>:request_document, :finish=>true} to see the score." %>
	<% elsif page_found? %>
		<%= "Item Found! #{link_to 'Click here', :action=>:request_document} to see the next item." %>
	<% elsif query_limit_reached? %>
		<%= "Query limit reached! #{link_to 'Click here', :action=>:request_document} to see the next document." %>
	<% else %>
		<%= "Item Not Found! You have #{@queries_per_page - session[:query_count]} trials left." %>
		<br>
		<% if session[:game_type] != :b %>
			<% form_tag({:controller=>'documents',:action => 'search'}, :method => :get) do -%>
				<%= text_field_tag(:query, @query, :onpaste=>'return false;', :size=>60) %>
				<%= submit_tag('Search') %>
			<% end -%>
		<% end %>
		<br>
		<br>Or you can <%= link_to "click here", :action=>:request_document, :skip=>true%> to skip  to the next document.
	<% end %>
</h3>
<br>
<% end %>
