
<h1>Welcome to DocTrack game!</h1>
This is a collection of emails from <a href='http://www.cs.cmu.edu/~enron/'>enron corpus</a>. <br>
<h3>Click <%= link_to "here", :action=>:start %>  to start a new game when you're ready.</h3>
<table  class="sortable" id="sortabletable">
  <tr>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= @ranklist.to_hash[document.did] %></td>
    <td><%= document.itype %></td>
    <td><%= link_to document.title, :controller=>:documents, :action=>:show, :id=>document.id, :title=>document.to_s %></td>
<% if session[:admin_flag] %>
    <td><%= document.query_flag ? "(#{Query.valid_queries(document.id).size})" : "" %></td>
    <td><%= link_to 'Edit', edit_document_path(document) %></td>
    <td><%= link_to 'Del', document, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate(@documents) if @documents.respond_to?("total_pages")%>
