<h1>Search Result ( <%= @query %>)</h1>
<%= render :partial => "search_result" %>

<% debug(session)%>
<table>
  <tr>
  </tr>

<% @rank_list[0..(@display_topk_result-1)].sort_by{|e|e[1]}.reverse.each_with_index do |e,i| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= e[0].itype %></td>
    <td><%= display_link(e[0]) %></td>
	  <td><%= e[0].tag_titles.join(",") %></td>
    <td><%= "<font color='#ff0000'>target document!</font>" if e[0].id == session[:target_document].to_i %></td>
  </tr>
<% end %>
</table>

<br />
