<% if params[:random] %>
	<h2>Here's the <%= session[:display_page_cur].to_i.ordinalize %> document (
	<% if @display_page_total <= session[:display_page_cur] %>
		 <%= link_to("skip to search", :action=>:start_search)%> 
	<% else %>
	 <%= link_to("skip to next", :action=>:show, :random=>true)%> 
	<% end%>
	)</h2>
<% else %>
	<%= render :partial => "search_result" %>
<% end %>
<% debug session%>
<%= "<b>Did: </b>" + @document.did if session[:admin_flag] && @document.did %>

<p>
  <b>Type:</b>
  <%=h @document.itype %>
</p>

<p>
  <b>Title:</b>
  <%=h @document.title %> <%=h @document.query_flag ? "(query)" : "" %>
</p>

<p>
  <b>Tags:</b>
	<%= @document.tag_titles.join(",") %>
</p>

<% if @document.uri =~ /^http:/ %>
<p>
  <b>URL:</b>
  <%= link_to @document.uri, @document.uri %>
</p>
<% end %>
<% if @document.metadata %>
<p>
  <b>Metadata:</b> <br>
	<table border='1' cellspacing=0 cellpadding=2>
  <%= @document.metadata.find_all{|k,v|!v.blank?}.map{|e|"<tr><td>#{e[0]}</td><td>#{e[1]}</td></tr>"}.join("\n") %>
	</table>
</p>
<% end %>

<% if @rel_docs %>
	<b>Relevant Items:</b>
	<table class="sortable" id="sortabletable" border=0 cellpadding=2 cellspacing=0>
	<tr>
		<% header = ['rank','type','title','tags'] %>
		<% (header << 'score').concat(@feature_type) if Conf.debug || params[:debug] %>
		<%= header.map{|f|"<td>#{f.to_s.capitalize}</td>"}%>
	</tr>
	<% @rel_docs.each_with_index do |e,i| %>
		<% item = cache_data("item_#{e[:id]}") %>
		<% error "#%%%%% : "+item.did %>
		<tr>
		  <td><%= i+1 %></td>
		  <td><%= item.itype %></td>
		  <td><%= link_to item.title, {:controller=>'documents', :action=>'click', :htype=>@htype, :id=>e[:id], :src_item_id=>@document.id, :position=>(i+1), :skipped_items=>@rel_docs[0..i].reverse.map{|e2|e2[:id]}.join("|")} %></td>
		  <td><%= item.tag_titles.join(",") %></td>
		<% if Conf.debug || params[:debug] %>
			<%=[:score].concat(@feature_type).map{|f|"<td>#{(e[f]||0).to_f.r3}</td>"} %>
		<% end %>
		<td><%= "<font color='#ff0000'>target item!</font>" if item.id == session[:target_document].to_i %></td>
		</tr>
	<% end %>
	</table>
<% end %>

<p>
  <b>Content:</b> <br>
	(click <%= link_to "here", {:action=>:show_content, :id=>@document.id}, :target=>'iframe_doc' %> to see the content if it's invisible)
		<iframe name='iframe_doc' src="<%= display_url(@document) %>" width="700" height="780" style="border: none;"></iframe>
</p>

