<h1>ScoreBoard</h1>

<table class="sortable" id="sortabletable">
  <tr>
    <th>Gid</th>
    <th>Score</th>
    <th>Query count</th>
    <th>Start at</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%=(game.user)? ((game.user_id==session[:user_id])? "<b>#{game.user.uid}</b>" : game.user.uid) : game.user_id %></td>
    <td><%=h game.score %></td>
    <td><%=h game.query_count %></td>
    <td><%=h game.level %></td>
    <td><%=h game.start_at.to_date %></td>
<% if session[:admin_flag]%>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>
<h3>Click <%= link_to "here", :controller=>:documents, :action=>:start %> to start a new game!</h3>

<br />
