<%= form_tag :action => 'create_concept', :method => 'POST' do %> 
<table width='90%'>
  <tr>
  </tr>
	<% @rank_list.each do |e| %>
	  <tr>
	    <td><%= check_box_tag("checked_docs[]", e[:item].id) %><% e[:score].round_at(3) %></td>
	    <td><%= e[:item].itype %></td>
	    <td><%= link_to e[:item].title, {:controller=>'items', :action=>'click', :htype=>'qry_doc', :id=>e[:item].id, :src_item_id=>@query_doc.id} %></td>
	  </tr>
	<% end %>
</table>
<div class="pagination" align='center'>
  <%= will_paginate(@search_results.hits) %>
</div>
<%= hidden_field_tag "query", @query %>
<%= hidden_field_tag "source_type", 'Query' %>
<div align='right'><%= submit_tag 'Add Link'%></div>
<% end %>

<br />
