<h1>Search Result ( <%= @query %>)</h1>
<% debug(request.url)%>

<% form_tag :action => 'create_concept', :method => 'POST' do %> 
<table>
  <tr>
  </tr>
	<% @rank_list.each do |e| %>
	  <tr>
	    <td><%= check_box_tag("checked_docs[]", e[:item].id) %><% e[:score].round_at(3) %></td>
	    <td><%= e[:item].itype %></td>
	    <td><%= link_to e[:item].title, {:controller=>'items', :action=>'click', :htype=>'qry_doc', :id=>e[:item].id, :src_item_id=>@query_doc.id} %></td>
	    <td><%= link_to 'Edit', edit_item_path(e[:item]) %></td>
	    <td><%= link_to 'Destroy', e[:item], :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>

<%= hidden_field_tag "query", @query %>
<%= hidden_field_tag "source_type", 'Query' %>
<div align='right'>URL : <%= text_field_tag "uri" %></div>
<div align='right'>Tag : <%= text_field_tag "tags" %></div>
<div align='right'><%= submit_tag 'Add as New Concept' %></div>
<% end %>

<br />
