<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Tags:</b>
	<%=  @item.tags.map{|e|e.title}.join(",") if @item.tags %>
</p>


<p>
  <b>Type:</b>
  <%=h @item.itype %>
</p>

<p>
  <b>URL:</b>
  <%= link_to @item.uri, @item.uri %>
</p>

<p>
  <b>PubTime:</b>
  <%= @item.basetime %>
</p>

<p>
  <b>Metadata:</b> <br>
	<table border='1' cellspacing=0 cellpadding=2>
  <%= (@item.metadata||{}).find_all{|k,v|!v.blank?}.map{|e|"<tr><td>#{e[0]}</td><td>#{e[1]}</td></tr>"}.join("\n") %>
	</table>
</p>

<p>
  <b>Content:</b> <br>
		(click <%= link_to "here", {:action=>:show_content, :id=>@item.id}, :target=>'iframe_doc' %> to see the content if it's invisible)
		<iframe name='iframe_doc' src="<%= display_url(@item) %>" width="700" height="780" style="border: none;"></iframe>
</p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<% if @item.document? %>
	<h2>Relevant Documents</h2>
	<table class="sortable" id="sortabletable">
	<tr>
		<%= ['time','type','title','score'].concat(Searcher::DOC_FEATURES).map{|f|"<td>#{f.to_s.capitalize}</td>"}%>
	</tr>
	<% @rel_docs.each_with_index do |e,i| %>
		<% item = cache_data("item_#{e[:id]}") %>
		<tr>
		  <td width='80'><%= item.basetime.to_date %></td>
		  <td><%= item.itype %></td>
		  <td><%= link_to item.title, {:controller=>'items', :action=>'click', :htype=>'doc', :id=>e[:id], :src_item_id=>@item.id, :position=>(i+1), :skipped_items=>@rel_docs[0..i].reverse.map{|e2|e2[:id]}.join("|")} %></td>
		<% if Conf.debug %>
			<%=[:score].concat(Searcher::DOC_FEATURES).map{|f|"<td>#{(e[f]||0).to_f.r3}</td>"} %>
		<% end %>
		</tr>
	<% end %>
	</table>
<% end %>

<% if @link_docs %>
	<h2>Linked Documents</h2>
	<table>
	<% @link_docs.each do |item| %>
	  <tr>
	    <td width='80'><%= item.basetime.to_date %></td>
	    <td><%= item.itype %></td>
	    <td><%= link_to item.title, item_path(item), :title=>item.to_s %></td>
	    <td><%= link_to 'Edit', edit_item_path(item) %></td>
	    <td><%= link_to 'Del', del_item_path(item) %></td>
	  </tr>
	<% end %>
	</table>
<% end %>