
<% if @item.document? %>
	<iframe name='iframe_doc' src="<%= display_url(@item) %>" width="100%" height="80%" style="border: none;"></iframe>
	<% content_for :bottom do %>
		<%= render :partial => 'linked_docs' if @link_docs.size > 0 %>
		<h2>Relevant Documents</h2>
		<table class="sortable" id="sortabletable">
		<tr>
			<% header = ['time','type','title'] %>
			<% (header << 'score').concat(Searcher::DOC_FEATURES) if (Conf.debug || params[:debug]) %>
			<%= raw header.map{|f|"<td>#{f.to_s.capitalize}</td>"}%>
		</tr>
		<% @rel_docs.each_with_index do |e,i| %>
			<% item = cache_data("item_#{e[:id]}") %>
			<tr>
			  <td width='80'><%= item.basetime.to_date %></td>
			  <td><%= item.itype %></td>
			  <td><%= link_to item.title, {:controller=>'items', :action=>'click', :htype=>'doc', :id=>e[:id], :src_item_id=>@item.id, :position=>(i+1), :skipped_items=>@rel_docs[0..i].reverse.map{|e2|e2[:id]}.join("|")} %></td>
			<% if Conf.debug || params[:debug] %>
				<%=raw [:score].concat(Searcher::DOC_FEATURES).map{|f|"<td>#{(e[f]||0).to_f.r3}</td>"} %>
			<% end %>
			</tr>
			<% end %>
		</table>	
	<% end %>
<% else %>
	<%= render :partial => 'linked_docs' %>
<% end %>
