<p>
  <b>Title:</b>
  <%=h @item.title %>
</p>

<p>
  <b>Type:</b>
  <%=h @item.itype %>
</p>

<p>
  <b>URL:</b>
  <%= link_to @item.uri, @item.uri %>
</p>

<p>
  <b>PubTime:</b>
  <%= @item.basetime %>
</p>

<p>
  <b>Metadata:</b> <br>
  <%= @item.metadata.map{|k,v|"#{k} : #{v}"}.join("<br/>") if @item.metadata %>
</p>

<p>
  <b>Content:</b> <br>
  <%= @item.content.gsub("\n","<br/>")[0..3000] if @item.content %>
</p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<h2>Relevant Documents</h2>
<table>
<% @rel_docs.each_with_index do |e,i| %>
	<tr>
	  <td width='80'><%= $items[e[0]].basetime.to_date %></td>
	  <td><%= $items[e[0]].itype %></td>
	  <td><%= link_to $items[e[0]].title, {:controller=>'items', :action=>'click', :htype=>'doc', :id=>e[0], :src_item_id=>@item.id, :position=>(i+1), :skipped_items=>@rel_docs[0..i].reverse.map{|e|e[0]}.join("|")} %></td>
	</tr>
<% end %>
</table>
<% if nil && @link_docs %>
	<h2>Linked Documents</h2>
	<table>
	<% @link_docs.each do |item| %>
	  <tr>
	    <td width='80'><%= item.basetime.to_date %></td>
	    <td><%= item.itype %></td>
	    <td><%= link_to item.title, item_path(item), :title=>item.to_s %></td>
	    <td><%= link_to 'Edit', edit_item_path(item) %></td>
	    <td><%= link_to 'Del', del_item_path(item) %></td>
	  </tr>
	<% end %>
	</table>
<% end %>